/* ---------------------------------------
Importing relevent google font "work sans"
----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* -------------------------
Declaring golbal parameters
--------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --bg-color-primary:rgba(255, 144, 14, 0.1);
    --button-color: #FF900E;
    --primary-title-color:#131313;
    --seceondary-title-color:#424242;
    --dark-3:#727272;
    --white-color: #FFFFFF;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
input, label{
    display: block;
}
/* ----------------
common style sets
------------------ */

.container{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.main{
    width: 100%;
    margin: 0 auto;
}
.hide{
    display: none !important;
}
/* -------------------------
Navigation Menu Styling
-------------------------- */
.header{
    width: 100%;
    background-color: var(--bg-color-primary);
    margin: 0 auto;
}
nav{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15em;
}
nav>.logo>h2>a{
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 45px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.menu>ul>li>a{
    color: var(--seceondary-title-color);
    font-weight: 500;
    font-size: 18px;
}
/* -------------------------
Banner Section Styling
-------------------------- */
.banner{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.banner-info{
    width: 862px;
    margin: 100px auto 33px;
    text-align: center;
}
.banner-info .banner-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}
.banner-info .banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px;
}
button{
    width: 180px;
    height: 64px;
    background-color: var(--button-color);
    color: var(--white-color);
    border-radius: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    margin: 50px 0px;
    width: 95%;
    height: auto;
}
/* -------------------------------------------
   quick list features summary section styling
-------------------------------------------- */
.all-features-section{
    margin: 85px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.galary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}
.galary>img{
    width: 340px;
    height: 340px;
    margin: 0;
}
.features-summary{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 2.5em;
    text-align: left;
}
.summary{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.summary > .section-title{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}
.summary > .section-title > .first-span{
    color: var(--seceondary-title-color);
}
.summary > .section-title > .second-span{
    color: var(--button-color);
}
.summary > .section-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0px 32px;
}
/* -------------------------------------------
   features details section styling 
   -------------------------------------- */
.features-details{
    width: 100%;
    display: flex;
    gap: 2.5em;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
.features-descriptions{
    max-width: 50%;
}
.features-description-title{
    border-left: 5px solid var(--button-color);
    font-weight: 700;
    font-size: 40px;
    padding-left: 20px;
    margin: 80px 0 24px;
}
.features-description-breif{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.features-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.feature-default{
    margin: 20px;
    width: 550px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    border-radius: 8px;

}
.feature-default>h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.feature-default>p{
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
}
.featured-img{
    position: relative;
}
.featured-img>img{
    z-index: -99;
    width: 100%;
    height: 1004px;
}
.featured-img>.featured-btn{
    position: absolute;
    bottom: -2%;
    left: -8%;
    width: 342px;
    height: 200px;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}
.featured-img>.featured-btn>span{
    font-size: 25px;
}

/* -------------------------
   some-facts section styling
-------------------------- */
.some-facts{
    width: 80%;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}
.facts-about{
    width: 542px;
}
.section-fact-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--primary-title-color);
}
.section-fact-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0;
    color: var(--seceondary-title-color);
}
.facts-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.fact-defult{
    width: 241px;
    height: 241px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    border: 1px solid var(--button-color);
    transition: 1s ease-in-out;
}
.fact-defult:hover{
    transform: scale(1.05) rotate(360deg);
    border: 5px solid cadetblue;
    background-image: linear-gradient(to right, gray, white);
    color: white;
}
.fact-defult>img{
    width: 46px;
    height: 46px;
    margin-bottom: 10px;
}
.fact-defult>.fact-count{
    font-size: 45px;
    font-weight: 600;
}
.fact-defult>.fact-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-3);
}
/* -------------------------
Sponsor Section Styling
-------------------------- */
.sponsors{
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsors > .sponsors-info{
    width: 542px;
    height: 129px;
    text-align: center;
    margin-bottom: 50px;
}
.sponsors > .sponsors-info > .sponsor-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary-title-color);
    margin-bottom: 24px;
}
.sponsors > .sponsors-info > .sponsor-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--seceondary-title-color);
}
.sponsors-logo{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.sponsors-logo>img{
    width: 166px;
    height: 50px;
    filter: grayscale(100%);
}

/* ---- ------------------
----- contact-us section  
--------------------------*/

.contact-section>h2{
    text-align: center;
    font-size: 45px;
}
.contact-section>h2>span{
    color: var(--button-color);
}
.contact-us{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    flex-wrap: wrap;
    margin: 50px auto;
    text-align: center;
}
.contact-default{
    height: 500px;
    padding-right: 10px;
}
.working-hours>h4{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.working-hours>p{
    line-height: 30px;
}
.write-us>form{
    display: flex;
    flex-direction: column;
    text-align: left;

}
.write-us>form>label{
    font-size: 20px;
    line-height: 30px;
    margin: 5px 0;
    font-weight: 700;
    color: lightseagreen;
}
.write-us>form>input, textarea{
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    padding: 10px 10px;
    color: rgb(32, 3, 60);
}

.btn-send{
    margin-top: 10px;
    width: 80px;
    height: 40px;
}
/* -------------------------
Footer Section Styling
-------------------------- */
footer{
    width: 100%;
    margin: 0 auto;
}
.footer{
    margin: 130px auto 216px;
    width: 65%;
    background-color: var(--bg-color-primary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer>p{
    margin: 39px 110px;
    font-size: 14px;
}

/* --------------------------------------
########### Media Query Section #########
--------------------------------------- */
@media screen and (max-width:576px){
    /* -------------------------
        Navigation Menu and Banner 
        -------------------------- */
    nav{
        gap:1.5em;
        padding: 20px 0;
    }
    .banner-info{
        width: 95%;
        margin: 20px auto 10px;
    }
    .banner-info .banner-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .banner-info .banner-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin: 15px 0px;
    }
    button{
        width: 120px;
        height: 44px;
        font-size: 16px;
        font-weight: 700;
    }
    img{
        margin: 30px 0px;
        width: 100%;
    }
    /* ------------------------
    -----Facts Section --------
    ---------------------- */
    /* facts first section */
    .facts-about{
        width: 90%;
        text-align: right;
    }
    .facts-info{
        gap: 1em;
    }
    .section-fact-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .section-fact-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin: 5px 0;
    }
    .summary{
        margin: 0 auto;
        text-align: left !important;
    }
    .summary>button{
        text-align: center;
    }
    .galary{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1em;
    }
    .galary>img{
        width: 300px;
        height: 300px;
        margin: 0;
    }
    /* facts 2nd section */
    .features-details{
        width: 100%;
        display: flex;
        gap: 0.1em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
    }
    /* .features-descriptions{
        width: 120% !important;
    } */
    .features-description-title>h2{
        width: 140% !important;
        /* border-left: 5px solid var(--button-color); */
        font-weight: 400;
        font-size: 20px;
        padding-left: 5px;
        margin: 20px 0 1px;
    }
    .features-description-breif{
        width: 140% !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .features-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    .feature-default{
        margin: 5px;
        width: 300px;
        height: 150px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 25px;
        border-radius: 8px;
    
    }
    .feature-default>h4{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .feature-default>p{
        font-size: 14px;
        line-height: 22px;
        margin-right: 0px;
    }
    .featured-img>img{
        width: 100%;
        height: 400px !important; 
    }
    .featured-img>.featured-btn{
        width: 140px;
        height: 80px;
        font-weight: 700;
        font-size: 32px;
        line-height: 20px;
    }
    .featured-img>.featured-btn>span{
        font-size: 16px;
    }
    /* -----------------------
    Sponsor Info -------------
    ---------------------- */
    .sponsors > .sponsors-info{
        width: 90%;
        height: 129px;
        margin-bottom: 20px;
    }
    .sponsors > .sponsors-info > .sponsor-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: var(--primary-title-color);
        margin-bottom: 5px;
    }
    .sponsors > .sponsors-info > .sponsor-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--seceondary-title-color);
    }
    .sponsors-logo{
        gap: 1em;
    }
    .sponsors-logo>img{
        width: 80px;
        height: 25px;
        filter: grayscale(100%);
    }
    /* ---- ------------------
    ----- contact-us section  
    --------------------------*/
     .contact-us{
        display: flex;
        gap: 1em;
    } 
    .contact-us>.working-hours{
        height: 300px !important;
    }
    .working-hours>h4{
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid black;
    }
    .map>iframe{
        width: 85%;
        height: 300px;
    }

    /* -------------------------
        Footer Menu and Banner 
    -------------------------- */
    .footer{
        margin: 40px auto;
        width: 90%;
    }
    .footer>p{
        margin: 10px;
        font-size: 10px;
    }
    
}